	<header class="os-header">
		<% if (typeof title === 'undefined') { %>
		<h1>iServers</h1>
		<% } else { %>
		<h1> <a href="<%= titurl %>"><%= title %></a></h1>
		<% } %>
		<ul class="usr-hd-info-mod">
			<% if (usr.usr) { %>

			<% if (typeof proSet !== 'undefined' && proSet.isMaster) { %>

			<li class="project-set-mod">
				<a class="add-project-set" href="#">
					<svg width="16" height="16" viewBox="0 0 16 16" >
						<ellipse transform="matrix(0.7129 0.7012 -0.7012 0.7129 7.9064 -3.3133)" style="fill:none;stroke:#000000" cx="8" cy="8" rx="2.434" ry="7.465"/>
						<ellipse transform="matrix(-0.7129 0.7012 -0.7012 -0.7129 19.3133 8.0936)" style="fill:none;stroke:#000000" cx="8" cy="8" rx="2.434" ry="7.465"/>
						<circle cx="8" cy="8" r="0.484"/>
					</svg>
				</a>

				<div class="usr-hd-list">
					<ul>
						<a href="">上传文件</a>
						<a href="/<%= titurl %>/<%= title %>/settings">项目设置</a>
						<hr />
						<a href="">下载代码</a>
					</ul>
				</div>
			</li>
			<% } %>

			<li class="project-set-mod">
				<a class="add-project-set" href="#">
					<svg aria-hidden="true" height="16" version="1.1" viewBox="0 0 12 16" width="12"><path d="M12 9H7v5H5V9H0V7h5V2h2v5h5z"></path></svg>
				</a>

				<div class="usr-hd-list">
					<ul>
						<a href="">添加Git项目</a>
						<a href="/addproject">添加项目</a>
						<a href="">创建团队</a>
						<a href="">添加Demo地址</a>
					</ul>
				</div>
			</li>
			<li class="project-set-mod">

				<a >
					<span class="hd-usr-ico">
						<img src="<%= host %>/<%= usr.ico %>" alt="<%= usr.usr %>">
					</span>
					<span class="hd-usr-name" title="<%= usr.name %>"><%= usr.name %></span>
				</a>

				<div class="usr-hd-list">
					<ul>
						<a href="/">我的主页</a>
						<a href="/set/profile">个人中心</a>
						<a href="/loginOut">退出</a>
					</ul>
				</div>

			</li>
			<% } else { %>
			<li class="project-set-mod">
				<a href="/">
					<span class="hd-usr-name">登录</span>
				</a>
			</li>
			<li class="project-set-mod">
				<a class="signUp" href="/"><span class="hd-usr-name">注册</span></a>
			</li>
			<% } %>
		</ul>
	</header>