	<header class="os-header">
		<h1>
		<% if (typeof title === 'undefined') { %>
		<p>iServers</p>
		<% } else { %>
		<a id="project-title" href="../"><%= title %></a>
		<% } %>
		<% if (typeof isG !== 'undefined' && isG) { %> <span title="git" id="isgitpro">
			<svg class="git-ico" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><title/><path d="M23.56,10.93,13.06.43a1.54,1.54,0,0,0-2.12,0l-2,2a.5.5,0,0,0,0,.71L10.74,5a.5.5,0,0,0,.54.11A2,2,0,0,1,14,7a2,2,0,0,1-.15.74.5.5,0,0,0,.11.54L15.72,10a.5.5,0,0,0,.54.11A2,2,0,1,1,15,12a2,2,0,0,1,.14-.71.5.5,0,0,0-.11-.53L13.35,9.07a.5.5,0,0,0-.85.35v5.28a.5.5,0,0,0,.3.46,2,2,0,1,1-1.6,0,.5.5,0,0,0,.3-.46V9.28a.5.5,0,0,0-.3-.46,2,2,0,0,1-1.06-2.56A.5.5,0,0,0,10,5.73L8.19,3.88a.5.5,0,0,0-.71,0l-7,7a1.5,1.5,0,0,0,0,2.12l10.5,10.51a1.5,1.5,0,0,0,2.12,0l10.5-10.51a1.5,1.5,0,0,0,0-2.12Z"/></svg>
			
		</span> <% } %>
		</h1>

		<% if (usr) { %>
		<ul class="usr-hd-info-mod">
			<% if (usr.usr) { %>

			<% if (typeof proSet !== 'undefined' && proSet.isMaster) { %>

			<li class="project-set-mod">
				<a class="add-project-set" href="#">
					<svg width="16" height="16" viewBox="0 0 14 16" >
						<path d="M14 8.77v-1.6l-1.94-.64-.45-1.09.88-1.84-1.13-1.13-1.81.91-1.09-.45-.69-1.92h-1.6l-.63 1.94-1.11.45-1.84-.88-1.13 1.13.91 1.81-.45 1.09L0 7.23v1.59l1.94.64.45 1.09-.88 1.84 1.13 1.13 1.81-.91 1.09.45.69 1.92h1.59l.63-1.94 1.11-.45 1.84.88 1.13-1.13-.92-1.81.47-1.09L14 8.75v.02zM7 11c-1.66 0-3-1.34-3-3s1.34-3 3-3 3 1.34 3 3-1.34 3-3 3z"></path>
					</svg>
				</a>

				<div class="usr-hd-list">
					<ul>
						<% if (project.type === 'git') { %>
						<a class="my-git-refresh">更新代码</a>
						<% } else { %>
						<a id="hd-toUploadProFile">上传文件</a>
						<a id="hd-toCreateDir">新建目录</a>
						<!-- <hr /> -->
						<!-- <a href="">下载代码</a> -->
						<% } %>
						<a href="<%= titurl %>settings">项目设置</a>
					</ul>
				</div>
			</li>
			<% } %>

			<li class="project-set-mod">
				<a class="add-project-set" href="#">
					<svg aria-hidden="true" height="16" version="1.1" viewBox="0 0 12 16" width="12"><path d="M12 9H7v5H5V9H0V7h5V2h2v5h5z"></path></svg>
				</a>

				<div class="usr-hd-list">
					<ul>
						<a href="/addproject?normal">添加项目</a>
						<a href="/addproject?git">添加Git项目</a>
						<!-- <a href="">创建团队</a> -->
						<!-- <a href="">添加Demo地址</a> -->
					</ul>
				</div>
			</li>
			<li class="project-set-mod">

				<a >
					<span class="hd-usr-ico border-radius-box">
						<img src="/<%= usr.ico %>" alt="<%= usr.usr %>">
					</span>
					<span class="hd-usr-name" title="<%= usr.usr %>"><%= usr.usr %></span>
				</a>

				<div class="usr-hd-list">
					<ul>
						<a href="/">我的主页</a>
						<a href="/set/profile">个人中心</a>

						<% if (usr.pow === 'root' || usr.pow === 'admin') { %>
						<hr class="split-line" />
						<a href="/users">用户管理</a>
						<a href="/SMTP">邮件服务器</a>
						<% } %>

						<hr class="split-line" />
						<a href="/loginOut">退出</a>
					</ul>
				</div>

			</li>
			<% } else { %>
			<li class="project-set-mod">
				<a href="/">
					<span class="hd-usr-name">登录</span>
				</a>
			</li>
			<li class="project-set-mod">
				<a class="signUp" href="/"><span class="hd-usr-name">注册</span></a>
			</li>
			<% } %>
		</ul>
		<% } %>
	</header>
