	<header class="os-header">
		<% if (typeof title === 'undefined') { %>
		<h1>iServers</h1>
		<% } else { %>
		<h1> <a href="<%= titurl %>"><%= title %></a></h1>
		<% } %>
		<ul class="usr-hd-info-mod">
			<% if (usr.usr) { %>

			<% if (typeof proSet !== 'undefined' && proSet.isMaster) { %>

			<li class="project-set-mod">
				<a class="add-project-set" href="#">
					<svg width="16" height="16" viewBox="0 0 16 16" >
						<ellipse transform="matrix(0.7129 0.7012 -0.7012 0.7129 7.9064 -3.3133)" style="fill:none;stroke:#000000" cx="8" cy="8" rx="2.434" ry="7.465"/>
						<ellipse transform="matrix(-0.7129 0.7012 -0.7012 -0.7129 19.3133 8.0936)" style="fill:none;stroke:#000000" cx="8" cy="8" rx="2.434" ry="7.465"/>
						<circle cx="8" cy="8" r="0.484"/>
					</svg>
				</a>

				<div class="usr-hd-list">
					<ul>
						<a id="hd-toUploadProFile" href="#">上传文件</a>
						<a href="/<%= titurl %>/<%= title %>/settings">项目设置</a>
						<hr />
						<a href="">下载代码</a>
					</ul>
				</div>
			</li>
			<% } %>

			<li class="project-set-mod">
				<a class="add-project-set" href="#">
					<svg aria-hidden="true" height="16" version="1.1" viewBox="0 0 12 16" width="12"><path d="M12 9H7v5H5V9H0V7h5V2h2v5h5z"></path></svg>
				</a>

				<div class="usr-hd-list">
					<ul>
						<a href="">添加Git项目</a>
						<a href="/addproject">添加项目</a>
						<a href="">创建团队</a>
						<a href="">添加Demo地址</a>
					</ul>
				</div>
			</li>
			<li class="project-set-mod">

				<a >
					<span class="hd-usr-ico">
						<img src="<%= host %>/<%= usr.ico %>" alt="<%= usr.usr %>">
					</span>
					<span class="hd-usr-name" title="<%= usr.name %>"><%= usr.name %></span>
				</a>

				<div class="usr-hd-list">
					<ul>
						<a href="/">我的主页</a>
						<a href="/set/profile">个人中心</a>
						<a href="/loginOut">退出</a>
					</ul>
				</div>

			</li>
			<% } else { %>
			<li class="project-set-mod">
				<a href="/">
					<span class="hd-usr-name">登录</span>
				</a>
			</li>
			<li class="project-set-mod">
				<a class="signUp" href="/"><span class="hd-usr-name">注册</span></a>
			</li>
			<% } %>
		</ul>
	</header>

	<aside class="status-bar-mod">

		<div class="status-bar-box">
			<div class="status-icon">
				<svg class="warning-status-icon" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 80 80">
					<path d="M21.736,63.836c-5.5,0-7.75-3.897-5-8.66l20.257-35.086 c2.75-4.763,7.25-4.763,10,0l20.257,35.086c2.75,4.763,0.5,8.66-5,8.66H21.736z"/>
					<path d="M42.813,46.792c0,0.453-0.367,0.82-0.82,0.82l0,0 c-0.453,0-0.82-0.367-0.82-0.82V27.354c0-0.453,0.367-0.82,0.82-0.82l0,0c0.453,0,0.82,0.367,0.82,0.82V46.792z"/>
					<circle cx="41.993" cy="54.52" r="1.054"/>
				</svg>

				<svg class="success-status-icon" viewBox="0 0 80 80" >
					<circle cx="40" cy="40" r="30"/>
					<path d="M22.511,43.532c0,0,9.096,9.311,13.554,9.361 c5.386,0.06,13.85-24.511,21.93-29.195"/>
				</svg>

				<svg class="error-status-icon" viewBox="0 0 80 80" style="display: block">
					<path d="M67.419,55.492c0,6.627-5.373,12-12,12H25.087 c-6.627,0-12-5.373-12-12V24.222c0-6.627,5.373-12,12-12h30.333c6.627,0,12,5.373,12,12V55.492z"/>
					<line x1="23.773" y1="24.166" x2="58.902" y2="58.124"/>
					<line x1="23.773" y1="58.124" x2="58.902" y2="24.166"/>
				</svg>
			</div>
			<div class="status-info">
				<h3>iServer</h3>
				<p>Welcome Back! You Have a Message!</p>
			</div>
			<div class="status-btns">
				<button>OK</button>
				<button>Cancel</button>
			</div>
		</div>

	</aside>