			<section class="tab-mod">
				<ul class="tab-title-box">
				<li class="current">项目
				<% if (pro.length){ %>
					<span><%= pro.length %></span>
				<% } %>
				</li>
					<!-- <li>团队项目</li> -->
					<!-- <li>Demo</li> -->
				</ul>

				<div class="project-list-box">

					<ul class="project-list-mod">
							
					<% if (pro) { %>

							<% pro.forEach( function(val) { %>
							<li>
								<h3>
									<a href="/<%= usr %>/<%= val.name %>/"><%= val.name %></a>
									
									<ul class="project-type-mod">
										<% if (val.private){ %>
										<li>
											<span title="加密" class="svg-private-box">
												<svg class="svg-lock" version="1.1" viewBox="7 0 50 50">
													<path d="M18,47c-1.104,0-2-0.896-2-2  V23c0-1.104,0.896-2,2-2h28c1.104,0,2,0.896,2,2v22c0,1.104-0.896,2-2,2H18z"/>
													<path d="M42,21c0-1.045,0-5.955,0-7  c0-5.523-4.477-10-10-10S22,8.477,22,14c0,1.045,0,5.955,0,7"/>
													<path d="M35,32c0-1.657-1.343-3-3-3s-3,1.343-3,3c0,0.885,0.391,1.673,1,2.222V37c0,1.104,0.896,2,2,2s2-0.896,2-2v-2.778  C34.609,33.673,35,32.885,35,32z"/>
												</svg>
											</span>
										</li>
										<%}%>
										<% if (val.type == 'git') { %>
										<li title="Git 项目">
											<svg class="git-ico" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><title/><path d="M23.56,10.93,13.06.43a1.54,1.54,0,0,0-2.12,0l-2,2a.5.5,0,0,0,0,.71L10.74,5a.5.5,0,0,0,.54.11A2,2,0,0,1,14,7a2,2,0,0,1-.15.74.5.5,0,0,0,.11.54L15.72,10a.5.5,0,0,0,.54.11A2,2,0,1,1,15,12a2,2,0,0,1,.14-.71.5.5,0,0,0-.11-.53L13.35,9.07a.5.5,0,0,0-.85.35v5.28a.5.5,0,0,0,.3.46,2,2,0,1,1-1.6,0,.5.5,0,0,0,.3-.46V9.28a.5.5,0,0,0-.3-.46,2,2,0,0,1-1.06-2.56A.5.5,0,0,0,10,5.73L8.19,3.88a.5.5,0,0,0-.71,0l-7,7a1.5,1.5,0,0,0,0,2.12l10.5,10.51a1.5,1.5,0,0,0,2.12,0l10.5-10.51a1.5,1.5,0,0,0,0-2.12Z"/></svg>
										</li>
										<% } %>
									</ul>
								</h3>

								<ul class="project-sub-info">
									<% if (val.utime) { %>
									<li>
										更新于: <time title="<%= val.utime %>"> -- </time>
									</li>
									<%} %>
									<li>
										创建于: <time title="<%= val.ctime %>"> -- </time>
									</li>
								</ul>
							</li>
							<% }) %>

						
					<% } else { %>
						<li>
						<%# 如果有用户信息,则是用户自己访问 %>
						<% if (isMaster.usr && isMaster.usr.length ) { %>
							<h3><a href="/addproject">添加项目>></a></h3>
						<% } else { %>
							<h3>此用户没有项目!</h3>
						<% } %>
						</li>
					<% } %>
					</ul>
				</div>
			</section>