<!DOCTYPE html>
<html lang="zh">
	<%- include('parts/head', {host: host, title: usrInfo.usr, css: ['/server/css/setting.css']}) %>
<body>

	<%- include('parts/header', {host: host, usr: usrInfo, title: title, 'titurl': usrInfo.usr}) %>

	<section class="main-body">


		<section class="content">
			
			<form id="add-project" class="upload-form" method="post" enctype="multipart/form-data" accept="/addProject">
				
				<dl>
					<dt>项目名称</dt>
					<dd>
						<input type="text" name="name" autofocus="" required="">
						<span class="err-info"></span>
					</dd>
				</dl>
				<% if (type == 'git') { %>
				<dl>
					<dt>Git 项目地址</dt>
					<dd>
						<input type="text" name="git" required="">
						<span class="err-info"></span>
					</dd>
				</dl>
				<input type="hidden" value="git" name="type">
				<% } else { %>
				<input type="hidden" value="normal" name="type">
				<% } %>

				<dl>
					<dt>隐私</dt>
					<dd>
						<label><input type="radio" name="private" checked="" value="false">公开 所有访问项目者匀可见</label>			
						<br />
						<label><input type="radio" name="private" value="true">个人 只有我自己可以查看</label>			
					</dd>
				</dl>

				<dl>
					<dd>
						<button class="btn middle-btn green-btn" type="submit">
							<span class="ico"></span>
							<span class="name">创建</span>
						</button>
					</dd>
				</dl>
			</form>

		</section>

	</section>

	<script src="<%= host %>/server/js/jquery-3.1.0.min.js"></script>
	<script src="<%= host %>/server/js/main.js"></script>
	<script src="<%= host %>/server/js/myVerification-0.0.2.js"></script>
	<script src="<%= host %>/server/js/addPro.js"></script>
	
</body>
</html>