<!DOCTYPE html>
<html lang="zh">
	<%- include('parts/head', {host: host, title: usrInfo.usr, css: ['/server/css/setting.css']}) %>
<body>
	
	<%- include('parts/header', {host: host, usr: usrInfo, title: title, titurl: titurl, proSet: proStatus }) %>

	<section class="main-body">


		<section class="content">
			
			<form id="renamePro" class="upload-form" method="post" enctype="multipart/form-data" action="/updateProSettings" novalidate>

				<dl>
					<dt>项目名称</dt>
					<dd>
						<input type="hidden" name="oldName" value="<%= title %>">
						<input type="text" name="proName" value="<%= title %>" required>
						<span class="err-info"></span>
					</dd>
				</dl>
				
				<% if (!proStatus.isOpen) {%>
				<dl>
					<dt>隐私</dt>
					<dd>
						<label><input type="radio" name="private" value="false">公开 所有访问项目者匀可见</label>			
						<br />
						<label><input type="radio" name="private" checked="" value="true">个人 只有我自己可以查看</label>			
						<span class="err-info"></span>
					</dd>
				</dl>
				<% }%>

				<dl>
					<dd>
						<button class="btn middle-btn green-btn" type="submit">
							<span class="ico"></span>
							<span class="name">保存修改</span>
						</button>
					</dd>
				</dl>
			</form>

		</section>

	</section>

	<script src="<%= host %>/server/js/jquery-3.1.0.min.js"></script>
	<script src="<%= host %>/server/js/main.js"></script>
	<script src="<%= host %>/server/js/setting.js"></script>
	
</body>
</html>