<!DOCTYPE html>
<html lang="zh">
	<%- include('parts/head', {host: host, title: title, css: []}) %>
<body>
	<%- include('parts/header', {usr: usrInfo}) %>

	<section class="main-body">


		<section class="manage-users-content">

			<h3 class="sign-user-title">管理员(<%= admin.length %>)</h3>
			
			<ul class="signUser-list-box admin-user-box">
			<% for (var i = 0, l = admin.length; i < l; i++) { %>
				<li>
					<div class="usr-icon-box">
						<div class="usr-photo-box border-radius-box">
							<img src="<%= admin[i].ico %>" alt="admin[i].name">
						</div>
						<p class="name"><%= admin[i].account + '(' + admin[i].name +')' %></p>

						<% if (admin[i].power === 'root') { %>
						<p class="jobs">超级管理员</p>
						<% } else { %>
						<p class="jobs">管理员</p>
						<% } %>
					</div>
					<nav class="usr-manage-nav">
						<a href="/<%= admin[i].account %>" target="_blank">访问其主页</a>
						<a href="/<%= admin[i].account %>/set/passwd" target="_blank">密码重置</a>
						<a href="#" target="_blank">发送邮件</a>
						<a href="#">权限设置</a>
						<hr class="split-line">
						<a href="#">删除用户</a>
					</nav>
				</li>
			<% } %>
			</ul>

			<h3 class="sign-user-title">
				<span>用户(<b id="usr-list-count">---</b>)</span>
				<a class="right" title="添加新用户" href="/addUser">添加</a>
			</h3>

			<ul id="z-web-users" class="signUser-list-box"></ul>

			<div id="my-user-pages"></div>

		</section>

		<!-- 用户信息 -->
		<section class="manage-user-inner"  style="display: none;">
			<h3 class="sign-user-title">
				<button> < 返回 </button>
			</h3>

			<div class="manage-see-box">
				<aside>
					<div class="usr-photo-box border-radius-box">
						<img src="server/img/kings.png" alt="kings">
					</div>
					<p class="name">Kings</p>
				</aside>

				<div class="manage-user-info">
					<form action="">
					<% for (var i = 0; i < 10; i++) { %>
						<dl>
							<dt class="title">帐号</dt>
							<dd class="inner">
								<input type="text">
							</dd>
						</dl>
						<dl>
							<dt class="title">呢称</dt>
							<dd class="inner">ektx</dd>
						</dl>
						<dl>
							<dt class="title">邮箱</dt>
							<dd class="inner">ektx</dd>
						</dl>
					<% } %>
					</form>
				</div>
			</div>
			
		</section><!-- // 用户信息 -->
			
	</section>

	<script src="<%= host %>/server/js/jquery-3.1.0.min.js"></script>
	<script src="<%= host %>/server/js/airpages.js"></script>
	<script src="<%= host %>/server/js/main.js"></script>
	<script src="<%= host %>/server/js/myVerification-0.0.1.js"></script>
	<script src="<%= host %>/server/js/userManages.js"></script>
	
</body>
</html>